<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= cl_image_tag("http://res.cloudinary.com/aswaq/image/upload/v1491568880/eaxrszirs7tnyapuvkaf.jpg",
      width: 400, height: 300, crop: :fill) %>
